.main-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
.account-content {
  padding: 20px 0;
}
.account-logo {
  margin-bottom: 30px;
  text-align: center;
}
.account-box {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  margin: 0 auto;
  overflow: hidden;
  width: 480px;
}
.account-wrapper {
  padding: 30px;
}
.account-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}
.account-subtitle {
  color: #4c4c4c;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}
.account-box .form-group {
  margin-bottom: 25px;
}
.account-box .form-group {
  margin-bottom: 25px;
}
.account-box .account-btn {
  background: #9a55ff;
  background: -moz-linear-gradient(left,#9a55ff 0%,#fc6075 100%);
  background: -webkit-linear-gradient(left,#9a55ff 0%,#fc6075 100%);
  background: -ms-linear-gradient(left,#9a55ff 0%,#fc6075 100%);
  background: linear-gradient(to right,#9a55ff 0%,#fc6075 100%);
  border: 0;
  border-radius: 4px;
  display: block;
  font-size: 22px;
  padding: 10px 26px;
  width: 100%;
}